.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  
.inputRow {
    display:flex; 
    width: 96%;
    margin: auto;
    padding: .88rem 0;
    border-bottom: 1px solid #010c3f;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    color: #010c3f;
    font-size: 1rem;
  }

.inputRow label {
    margin-right: 1rem;
}
  
.SearchButton {
    margin-left: 1rem; 
    cursor: pointer;
    width: 12rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    margin-top: 2rem;
  }
  
.SearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
  }